@import "variables";
@import "compass/reset";
@import "breakpoint";

body {
	font-family: $fontFamily;
	font-size: $fontSize;
}

ul, ol, li{
	list-style: none;
}

.main {
	@include breakpoint(map_get($breakpoint, sm)){

	};
	@include breakpoint(map_get($breakpoint, md)){

	};
	@include breakpoint(map_get($breakpoint, lg)){

	};
	@include breakpoint(map_get($breakpoint, xl)){

	};
}