@import "../config/config";
@import "mixins";

$topHeight: 80 * $onePx;

.top-section {
	height: $topHeight;
	box-shadow: 0 0.5px 0 0 #dee3e8;

	.operates {
		height: $topHeight;
		line-height: $topHeight;
		button {
			@include button();
		}
	}
}