//base size
//1px = .0625em, 16px = 1em
$onePx: .0625rem;

//base font
$fontSize: 16px;
$fontFamily: "Microsoft YaHei", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

//breakpoint
$breakpoint: (
		sm: 554 * $onePx,
		md: 768 * $onePx,
		lg: 992 * $onePx,
		xl: 1200 * $onePx
);