@import "config/config";
@import "layouts/mobile-info";

.main {
	@import "common/top";
	#mobileInfo{
		font-size: 12 * $onePx;
		.left-section{
			font-size: 14 * $onePx;
			padding: 0 20 * $onePx;
			.title{
				font-weight: 600;
				font-size: 1rem;
				padding: 10 * $onePx 20 * $onePx 20 * $onePx 0;
				display: block;
			}

			.filters{
				display: none;
				.filter-title{
					display: inline-block;
				}
				span{
					background-color: #ec971f;
					padding: 5 * $onePx;

					display: inline-block;
					margin-right: 15 * $onePx;
					color: #fff;
					@include border-radius(3 * $onePx);
				}

			}

			.filter-list{
				.filter-name{
					font-weight: 600;
					padding: 10 * $onePx 0;
				}
				.filter{
					height: 100 * $onePx;
					overflow: auto;
					background-color: #ebebeb;
					@include border-radius(5 * $onePx);
					padding: 10 * $onePx;
					label {
						display: inline-block;
						padding: 0 5 * $onePx;
					}
				}
			}
		}
		.right-section{
			padding: 0 20 * $onePx;

			.tab-content {
				.tab-pane{
					padding: 0 15 * $onePx;
					.devices{
						height: 400 * $onePx;
						overflow: auto;
						background-color: #ebebeb;
						@include border-radius(5 * $onePx);
						.device {
							padding: 10 * $onePx;
						}
					}
				}
			}
		}
	}
}