@import "config/config";
@import "layouts/upload";

$border: .5 * $onePx solid #dee3e8;
$padding: 8 * $onePx;
$lineHeight: 20 * $onePx;
$tableWidth: 100%;
$color: #33ae61;

.main {
	@import "common/top";

	#preposition {
		padding: 20 * $onePx 250 * $onePx;
		clear: both;
		%label {
			font-size: 12px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 9px;
			color: #444444;
			margin-right: 15 * $onePx;
		}

		.category {
			.title {
				font-size: 14px;
				font-weight: 600;
				font-style: normal;
				font-stretch: normal;
				line-height: 12px;
				color: #444444;
			}

			ul {
				padding: 0 20 * $onePx;
			}

			.operation {
				padding: 20 * $onePx 0;
				dd {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 9px;
					color: #444444;
					margin-right: 15 * $onePx;
					display: inline-block;
				}

				ul {
					li {
						padding: 10 * $onePx 0;
						dd {
							display: inline-block;
						}
						span {
							width: 75%;
							display: inline-block;
							padding: 0 50 * $onePx;
							a.ui-slider-handle {
								@include border-radius(50%);
								background: #1663ba none;
								box-shadow: 0 1px 3px 0 rgba(48, 81, 138, 0.38);
								border: 1px solid #1663ba;
								top: -1.2em;
								color: #fff;
								font-size: 8px;
								text-align: center;
								width: 25px;
								height: 25px;
								padding-top: 5px;
								text-decoration: none;
							}
						}

						span.ui-widget-content {
							border: none;
						}

						span.ui-slider-horizontal {
							height: 3 * $onePx;
						}
					}
				}

				ul.monkey-options {
					display: none;

					li {
						padding: 10 * $onePx 0;
					}

					li:first-of-type {
						padding-top: 20 * $onePx;
					}

				}

				.monkey-time {

				}

				.monkey-swipe {

				}

				.monkey-click {

				}
			}

			.operation:first-of-type{
				padding-bottom: 0;
			}

			.operation:last-of-type{
				padding-top: 0;
			}

			.apk {
				li {
					padding: 20 * $onePx 0;

					&.apk-select {

					}

					&.apk-upload {
						border-radius: 1px;
						background-color: #f9fafb;
						border: dashed 1px #dee3e8;
						height: 160 * $onePx;
						text-align: center;
						margin-bottom: 16 * $onePx;
						.upload{
							padding: 10 * $onePx 0;
						}
						.description {
							li {
								padding: 10 * $onePx 0;
							}

						}
					}

					&.apk-uploaded {
						display: none;
						.apk {
							.app-logo{}
							.app-name {}
							.version {}

							.datetime {}
							.description{}
						}
					}
				}

			}

			.parameters {
				span {
					font-size: 14px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 9px;
					color: #444444;
				}
				li{
					display: inline-block;
					height: 20 * $onePx;
					line-height: 20 * $onePx;
					padding: 15 * $onePx 0;
				}

				select {
					width: 130 * $onePx;
					height: 25 * $onePx;
				}
				.case {

				}

				.parameters {

				}
			}
		}
	}

	#mobileInfo{
		padding: 20 * $onePx 250 * $onePx;
		clear: both;
		font-size: 12 * $onePx;
		.left-section{
			font-size: 14 * $onePx;
			.title{
				font-weight: 600;
				padding: 10 * $onePx 20 * $onePx 20 * $onePx 0;
				display: block;
			}

			.filters{
				display: none;
				.filter-title{
					display: inline-block;
				}
				span{
					background-color: #ec971f;
					padding: 5 * $onePx;

					display: inline-block;
					margin-right: 15 * $onePx;
					color: #fff;
					@include border-radius(3 * $onePx);
				}

			}

			.filter-list{
				.filter-name{
					font-weight: 600;
					padding: 10 * $onePx 0;
				}
				.filter{
					height: 100 * $onePx;
					overflow: auto;
					background-color: #ebebeb;
					@include border-radius(5 * $onePx);
					padding: 10 * $onePx;
					span {
						display: inline-block;
						padding: 0 5 * $onePx;
					}
				}
			}
		}
		.right-section{
			padding: 0 20 * $onePx;

			.tab-content {
				.tab-pane{
					padding: 0 15 * $onePx;
					.devices{
						height: 380 * $onePx;
						overflow: auto;
						background-color: #ebebeb;
						@include border-radius(5 * $onePx);
						.device {
							padding: 10 * $onePx;
						}
					}
				}
			}
		}
	}

	#testList {
		padding: 20 * $onePx 250 * $onePx;
		clear: both;
		table {
			width: $tableWidth;
			border: $border;
			margin: 0 auto;
			font-size: 12 * $onePx;
			%td {
				border: $border;
				vertical-align: bottom;
				padding: $padding;
				line-height: $lineHeight;
			}

			thead {
				tr {
					th {
						@extend %td;
						border-bottom-width: 2px;
						font-weight: 600;
					}
				}
			}

			tbody {
				tr {
					td {
						@extend %td;

						.process-status{
							@include border-radius(20 *$onePx);
							height: 15 * $onePx;
							width: 15 * $onePx;
							background-color: #bcbcbc;
							display: inline-block;

							&.success {
								background-color: #00B83F
							}
							&.failed {
								background-color: #ee5f5b;
							}
						}
					}

				}

				tr:nth-child(odd){
					background-color: #f5f7f9;
				}
			}
		}
	}

	#endTest {
		text-align: center;
		clear: both;
		padding: 200 * $onePx 0;
		.c-ok {
			height: 60 * $onePx;
			line-height: 60 * $onePx;
			position: relative;

			.icon {
				@include avatar(40 * $onePx, $color);
				color: #fff;
				top: 10 * $onePx;
				left: 50%;
				@include transform(translate(-50%, 0));
			}

			.icon-checkmark:before {
				position: relative;
				top: 12 * $onePx;
			}
		}
		.c-text {
			font-size: 12 * $onePx;
			font-weight: bold;
			color: $color;
		}
	}
}