@font-face {
  font-family: "neusoft-font";
  src: url('../fonts/icomoon.eot?1468574458') format('embedded-opentype'), url('../fonts/icomoon.svg?1468574458') format('svg'), url('../fonts/icomoon.ttf?1468574458') format('truetype'), url('../fonts/icomoon.woff?1468574458') format('woff');
}
/* line 9, ../../../sass/icon/fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'neusoft-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  top: 0.1875rem;
  left: 0.125rem;
  cursor: pointer;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../../../sass/icon/fonts.scss */
.icon-nextui-add:before {
  content: "\e900";
}

/* line 32, ../../../sass/icon/fonts.scss */
.icon-nextui-arrow-right:before {
  content: "\e901";
}

/* line 35, ../../../sass/icon/fonts.scss */
.icon-nextui-badge:before {
  content: "\e902";
}

/* line 38, ../../../sass/icon/fonts.scss */
.icon-nextui-brand:before {
  content: "\e903";
}

/* line 41, ../../../sass/icon/fonts.scss */
.icon-nextui-business:before {
  content: "\eaef";
}

/* line 44, ../../../sass/icon/fonts.scss */
.icon-nextui-check:before {
  content: "\eaf0";
}

/* line 47, ../../../sass/icon/fonts.scss */
.icon-nextui-check-circle:before {
  content: "\eaf1";
}

/* line 50, ../../../sass/icon/fonts.scss */
.icon-nextui-close:before {
  content: "\eaf2";
}

/* line 53, ../../../sass/icon/fonts.scss */
.icon-nextui-delete:before {
  content: "\eaf3";
}

/* line 56, ../../../sass/icon/fonts.scss */
.icon-nextui-Disclosure-Indicator:before {
  content: "\eaf4";
}

/* line 59, ../../../sass/icon/fonts.scss */
.icon-nextui-draw:before {
  content: "\eaf5";
}

/* line 62, ../../../sass/icon/fonts.scss */
.icon-nextui-error-outline:before {
  content: "\eaf6";
}

/* line 65, ../../../sass/icon/fonts.scss */
.icon-nextui-filter:before {
  content: "\eaf7";
}

/* line 68, ../../../sass/icon/fonts.scss */
.icon-nextui-lock:before {
  content: "\eaf8";
}

/* line 71, ../../../sass/icon/fonts.scss */
.icon-nextui-logo:before {
  content: "\eaf9";
}

/* line 74, ../../../sass/icon/fonts.scss */
.icon-nextui-mail:before {
  content: "\eafa";
}

/* line 77, ../../../sass/icon/fonts.scss */
.icon-nextui-note:before {
  content: "\eafb";
}

/* line 80, ../../../sass/icon/fonts.scss */
.icon-nextui-patent:before {
  content: "\eafc";
}

/* line 83, ../../../sass/icon/fonts.scss */
.icon-nextui-post:before {
  content: "\eafd";
}

/* line 86, ../../../sass/icon/fonts.scss */
.icon-nextui-Registration-certificate:before {
  content: "\eafe";
}

/* line 89, ../../../sass/icon/fonts.scss */
.icon-nextui-report-problem:before {
  content: "\eaff";
}

/* line 92, ../../../sass/icon/fonts.scss */
.icon-nextui-star:before {
  content: "\eb00";
}

/* line 95, ../../../sass/icon/fonts.scss */
.icon-nextui-user:before {
  content: "\eb01";
}

/* line 98, ../../../sass/icon/fonts.scss */
.icon-nextui-user-a:before {
  content: "\eb02";
}

/* line 101, ../../../sass/icon/fonts.scss */
.icon-nextui-user-b:before {
  content: "\eb03";
}

/* line 104, ../../../sass/icon/fonts.scss */
.icon-nextui-video:before {
  content: "\eb04";
}

/* line 107, ../../../sass/icon/fonts.scss */
.icon-home:before {
  content: "\e904";
}

/* line 110, ../../../sass/icon/fonts.scss */
.icon-home2:before {
  content: "\e905";
}

/* line 113, ../../../sass/icon/fonts.scss */
.icon-home3:before {
  content: "\e906";
}

/* line 116, ../../../sass/icon/fonts.scss */
.icon-office:before {
  content: "\e907";
}

/* line 119, ../../../sass/icon/fonts.scss */
.icon-newspaper:before {
  content: "\e908";
}

/* line 122, ../../../sass/icon/fonts.scss */
.icon-pencil:before {
  content: "\e909";
}

/* line 125, ../../../sass/icon/fonts.scss */
.icon-pencil2:before {
  content: "\e90a";
}

/* line 128, ../../../sass/icon/fonts.scss */
.icon-quill:before {
  content: "\e90b";
}

/* line 131, ../../../sass/icon/fonts.scss */
.icon-pen:before {
  content: "\e90c";
}

/* line 134, ../../../sass/icon/fonts.scss */
.icon-blog:before {
  content: "\e90d";
}

/* line 137, ../../../sass/icon/fonts.scss */
.icon-eyedropper:before {
  content: "\e90e";
}

/* line 140, ../../../sass/icon/fonts.scss */
.icon-droplet:before {
  content: "\e90f";
}

/* line 143, ../../../sass/icon/fonts.scss */
.icon-paint-format:before {
  content: "\e910";
}

/* line 146, ../../../sass/icon/fonts.scss */
.icon-image:before {
  content: "\e911";
}

/* line 149, ../../../sass/icon/fonts.scss */
.icon-images:before {
  content: "\e912";
}

/* line 152, ../../../sass/icon/fonts.scss */
.icon-camera:before {
  content: "\e913";
}

/* line 155, ../../../sass/icon/fonts.scss */
.icon-headphones:before {
  content: "\e914";
}

/* line 158, ../../../sass/icon/fonts.scss */
.icon-music:before {
  content: "\e915";
}

/* line 161, ../../../sass/icon/fonts.scss */
.icon-play:before {
  content: "\e916";
}

/* line 164, ../../../sass/icon/fonts.scss */
.icon-film:before {
  content: "\e917";
}

/* line 167, ../../../sass/icon/fonts.scss */
.icon-video-camera:before {
  content: "\e918";
}

/* line 170, ../../../sass/icon/fonts.scss */
.icon-dice:before {
  content: "\e919";
}

/* line 173, ../../../sass/icon/fonts.scss */
.icon-pacman:before {
  content: "\e91a";
}

/* line 176, ../../../sass/icon/fonts.scss */
.icon-spades:before {
  content: "\e91b";
}

/* line 179, ../../../sass/icon/fonts.scss */
.icon-clubs:before {
  content: "\e91c";
}

/* line 182, ../../../sass/icon/fonts.scss */
.icon-diamonds:before {
  content: "\e91d";
}

/* line 185, ../../../sass/icon/fonts.scss */
.icon-bullhorn:before {
  content: "\e91e";
}

/* line 188, ../../../sass/icon/fonts.scss */
.icon-connection:before {
  content: "\e91f";
}

/* line 191, ../../../sass/icon/fonts.scss */
.icon-podcast:before {
  content: "\e920";
}

/* line 194, ../../../sass/icon/fonts.scss */
.icon-feed:before {
  content: "\e921";
}

/* line 197, ../../../sass/icon/fonts.scss */
.icon-mic:before {
  content: "\e922";
}

/* line 200, ../../../sass/icon/fonts.scss */
.icon-book:before {
  content: "\e923";
}

/* line 203, ../../../sass/icon/fonts.scss */
.icon-books:before {
  content: "\e924";
}

/* line 206, ../../../sass/icon/fonts.scss */
.icon-library:before {
  content: "\e925";
}

/* line 209, ../../../sass/icon/fonts.scss */
.icon-file-text:before {
  content: "\e926";
}

/* line 212, ../../../sass/icon/fonts.scss */
.icon-profile:before {
  content: "\e927";
}

/* line 215, ../../../sass/icon/fonts.scss */
.icon-file-empty:before {
  content: "\e928";
}

/* line 218, ../../../sass/icon/fonts.scss */
.icon-files-empty:before {
  content: "\e929";
}

/* line 221, ../../../sass/icon/fonts.scss */
.icon-file-text2:before {
  content: "\e92a";
}

/* line 224, ../../../sass/icon/fonts.scss */
.icon-file-picture:before {
  content: "\e92b";
}

/* line 227, ../../../sass/icon/fonts.scss */
.icon-file-music:before {
  content: "\e92c";
}

/* line 230, ../../../sass/icon/fonts.scss */
.icon-file-play:before {
  content: "\e92d";
}

/* line 233, ../../../sass/icon/fonts.scss */
.icon-file-video:before {
  content: "\e92e";
}

/* line 236, ../../../sass/icon/fonts.scss */
.icon-file-zip:before {
  content: "\e92f";
}

/* line 239, ../../../sass/icon/fonts.scss */
.icon-copy:before {
  content: "\e930";
}

/* line 242, ../../../sass/icon/fonts.scss */
.icon-paste:before {
  content: "\e931";
}

/* line 245, ../../../sass/icon/fonts.scss */
.icon-stack:before {
  content: "\e932";
}

/* line 248, ../../../sass/icon/fonts.scss */
.icon-folder:before {
  content: "\e933";
}

/* line 251, ../../../sass/icon/fonts.scss */
.icon-folder-open:before {
  content: "\e934";
}

/* line 254, ../../../sass/icon/fonts.scss */
.icon-folder-plus:before {
  content: "\e935";
}

/* line 257, ../../../sass/icon/fonts.scss */
.icon-folder-minus:before {
  content: "\e936";
}

/* line 260, ../../../sass/icon/fonts.scss */
.icon-folder-download:before {
  content: "\e937";
}

/* line 263, ../../../sass/icon/fonts.scss */
.icon-folder-upload:before {
  content: "\e938";
}

/* line 266, ../../../sass/icon/fonts.scss */
.icon-price-tag:before {
  content: "\e939";
}

/* line 269, ../../../sass/icon/fonts.scss */
.icon-price-tags:before {
  content: "\e93a";
}

/* line 272, ../../../sass/icon/fonts.scss */
.icon-barcode:before {
  content: "\e93b";
}

/* line 275, ../../../sass/icon/fonts.scss */
.icon-qrcode:before {
  content: "\e93c";
}

/* line 278, ../../../sass/icon/fonts.scss */
.icon-ticket:before {
  content: "\e93d";
}

/* line 281, ../../../sass/icon/fonts.scss */
.icon-cart:before {
  content: "\e93e";
}

/* line 284, ../../../sass/icon/fonts.scss */
.icon-coin-dollar:before {
  content: "\e93f";
}

/* line 287, ../../../sass/icon/fonts.scss */
.icon-coin-euro:before {
  content: "\e940";
}

/* line 290, ../../../sass/icon/fonts.scss */
.icon-coin-pound:before {
  content: "\e941";
}

/* line 293, ../../../sass/icon/fonts.scss */
.icon-coin-yen:before {
  content: "\e942";
}

/* line 296, ../../../sass/icon/fonts.scss */
.icon-credit-card:before {
  content: "\e943";
}

/* line 299, ../../../sass/icon/fonts.scss */
.icon-calculator:before {
  content: "\e944";
}

/* line 302, ../../../sass/icon/fonts.scss */
.icon-lifebuoy:before {
  content: "\e945";
}

/* line 305, ../../../sass/icon/fonts.scss */
.icon-phone:before {
  content: "\e946";
}

/* line 308, ../../../sass/icon/fonts.scss */
.icon-phone-hang-up:before {
  content: "\e947";
}

/* line 311, ../../../sass/icon/fonts.scss */
.icon-address-book:before {
  content: "\e948";
}

/* line 314, ../../../sass/icon/fonts.scss */
.icon-envelop:before {
  content: "\e949";
}

/* line 317, ../../../sass/icon/fonts.scss */
.icon-pushpin:before {
  content: "\e94a";
}

/* line 320, ../../../sass/icon/fonts.scss */
.icon-location:before {
  content: "\e94b";
}

/* line 323, ../../../sass/icon/fonts.scss */
.icon-location2:before {
  content: "\e94c";
}

/* line 326, ../../../sass/icon/fonts.scss */
.icon-compass:before {
  content: "\e94d";
}

/* line 329, ../../../sass/icon/fonts.scss */
.icon-compass2:before {
  content: "\e94e";
}

/* line 332, ../../../sass/icon/fonts.scss */
.icon-map:before {
  content: "\e94f";
}

/* line 335, ../../../sass/icon/fonts.scss */
.icon-map2:before {
  content: "\e950";
}

/* line 338, ../../../sass/icon/fonts.scss */
.icon-history:before {
  content: "\e951";
}

/* line 341, ../../../sass/icon/fonts.scss */
.icon-clock:before {
  content: "\e952";
}

/* line 344, ../../../sass/icon/fonts.scss */
.icon-clock2:before {
  content: "\e953";
}

/* line 347, ../../../sass/icon/fonts.scss */
.icon-alarm:before {
  content: "\e954";
}

/* line 350, ../../../sass/icon/fonts.scss */
.icon-bell:before {
  content: "\e955";
}

/* line 353, ../../../sass/icon/fonts.scss */
.icon-stopwatch:before {
  content: "\e956";
}

/* line 356, ../../../sass/icon/fonts.scss */
.icon-calendar:before {
  content: "\e957";
}

/* line 359, ../../../sass/icon/fonts.scss */
.icon-printer:before {
  content: "\e958";
}

/* line 362, ../../../sass/icon/fonts.scss */
.icon-keyboard:before {
  content: "\e959";
}

/* line 365, ../../../sass/icon/fonts.scss */
.icon-display:before {
  content: "\e95a";
}

/* line 368, ../../../sass/icon/fonts.scss */
.icon-laptop:before {
  content: "\e95b";
}

/* line 371, ../../../sass/icon/fonts.scss */
.icon-mobile:before {
  content: "\e95c";
}

/* line 374, ../../../sass/icon/fonts.scss */
.icon-mobile2:before {
  content: "\e95d";
}

/* line 377, ../../../sass/icon/fonts.scss */
.icon-tablet:before {
  content: "\e95e";
}

/* line 380, ../../../sass/icon/fonts.scss */
.icon-tv:before {
  content: "\e95f";
}

/* line 383, ../../../sass/icon/fonts.scss */
.icon-drawer:before {
  content: "\e960";
}

/* line 386, ../../../sass/icon/fonts.scss */
.icon-drawer2:before {
  content: "\e961";
}

/* line 389, ../../../sass/icon/fonts.scss */
.icon-box-add:before {
  content: "\e962";
}

/* line 392, ../../../sass/icon/fonts.scss */
.icon-box-remove:before {
  content: "\e963";
}

/* line 395, ../../../sass/icon/fonts.scss */
.icon-download:before {
  content: "\e964";
}

/* line 398, ../../../sass/icon/fonts.scss */
.icon-upload:before {
  content: "\e965";
}

/* line 401, ../../../sass/icon/fonts.scss */
.icon-floppy-disk:before {
  content: "\e966";
}

/* line 404, ../../../sass/icon/fonts.scss */
.icon-drive:before {
  content: "\e967";
}

/* line 407, ../../../sass/icon/fonts.scss */
.icon-database:before {
  content: "\e968";
}

/* line 410, ../../../sass/icon/fonts.scss */
.icon-undo:before {
  content: "\e969";
}

/* line 413, ../../../sass/icon/fonts.scss */
.icon-redo:before {
  content: "\e96a";
}

/* line 416, ../../../sass/icon/fonts.scss */
.icon-undo2:before {
  content: "\e96b";
}

/* line 419, ../../../sass/icon/fonts.scss */
.icon-redo2:before {
  content: "\e96c";
}

/* line 422, ../../../sass/icon/fonts.scss */
.icon-forward:before {
  content: "\e96d";
}

/* line 425, ../../../sass/icon/fonts.scss */
.icon-reply:before {
  content: "\e96e";
}

/* line 428, ../../../sass/icon/fonts.scss */
.icon-bubble:before {
  content: "\e96f";
}

/* line 431, ../../../sass/icon/fonts.scss */
.icon-bubbles:before {
  content: "\e970";
}

/* line 434, ../../../sass/icon/fonts.scss */
.icon-bubbles2:before {
  content: "\e971";
}

/* line 437, ../../../sass/icon/fonts.scss */
.icon-bubble2:before {
  content: "\e972";
}

/* line 440, ../../../sass/icon/fonts.scss */
.icon-bubbles3:before {
  content: "\e973";
}

/* line 443, ../../../sass/icon/fonts.scss */
.icon-bubbles4:before {
  content: "\e974";
}

/* line 446, ../../../sass/icon/fonts.scss */
.icon-user:before {
  content: "\e975";
}

/* line 449, ../../../sass/icon/fonts.scss */
.icon-users:before {
  content: "\e976";
}

/* line 452, ../../../sass/icon/fonts.scss */
.icon-user-plus:before {
  content: "\e977";
}

/* line 455, ../../../sass/icon/fonts.scss */
.icon-user-minus:before {
  content: "\e978";
}

/* line 458, ../../../sass/icon/fonts.scss */
.icon-user-check:before {
  content: "\e979";
}

/* line 461, ../../../sass/icon/fonts.scss */
.icon-user-tie:before {
  content: "\e97a";
}

/* line 464, ../../../sass/icon/fonts.scss */
.icon-quotes-left:before {
  content: "\e97b";
}

/* line 467, ../../../sass/icon/fonts.scss */
.icon-quotes-right:before {
  content: "\e97c";
}

/* line 470, ../../../sass/icon/fonts.scss */
.icon-hour-glass:before {
  content: "\e97d";
}

/* line 473, ../../../sass/icon/fonts.scss */
.icon-spinner:before {
  content: "\e97e";
}

/* line 476, ../../../sass/icon/fonts.scss */
.icon-spinner2:before {
  content: "\e97f";
}

/* line 479, ../../../sass/icon/fonts.scss */
.icon-spinner3:before {
  content: "\e980";
}

/* line 482, ../../../sass/icon/fonts.scss */
.icon-spinner4:before {
  content: "\e981";
}

/* line 485, ../../../sass/icon/fonts.scss */
.icon-spinner5:before {
  content: "\e982";
}

/* line 488, ../../../sass/icon/fonts.scss */
.icon-spinner6:before {
  content: "\e983";
}

/* line 491, ../../../sass/icon/fonts.scss */
.icon-spinner7:before {
  content: "\e984";
}

/* line 494, ../../../sass/icon/fonts.scss */
.icon-spinner8:before {
  content: "\e985";
}

/* line 497, ../../../sass/icon/fonts.scss */
.icon-spinner9:before {
  content: "\e986";
}

/* line 500, ../../../sass/icon/fonts.scss */
.icon-spinner10:before {
  content: "\e987";
}

/* line 503, ../../../sass/icon/fonts.scss */
.icon-spinner11:before {
  content: "\e988";
}

/* line 506, ../../../sass/icon/fonts.scss */
.icon-binoculars:before {
  content: "\e989";
}

/* line 509, ../../../sass/icon/fonts.scss */
.icon-search:before {
  content: "\e98a";
}

/* line 512, ../../../sass/icon/fonts.scss */
.icon-zoom-in:before {
  content: "\e98b";
}

/* line 515, ../../../sass/icon/fonts.scss */
.icon-zoom-out:before {
  content: "\e98c";
}

/* line 518, ../../../sass/icon/fonts.scss */
.icon-enlarge:before {
  content: "\e98d";
}

/* line 521, ../../../sass/icon/fonts.scss */
.icon-shrink:before {
  content: "\e98e";
}

/* line 524, ../../../sass/icon/fonts.scss */
.icon-enlarge2:before {
  content: "\e98f";
}

/* line 527, ../../../sass/icon/fonts.scss */
.icon-shrink2:before {
  content: "\e990";
}

/* line 530, ../../../sass/icon/fonts.scss */
.icon-key:before {
  content: "\e991";
}

/* line 533, ../../../sass/icon/fonts.scss */
.icon-key2:before {
  content: "\e992";
}

/* line 536, ../../../sass/icon/fonts.scss */
.icon-lock:before {
  content: "\e993";
}

/* line 539, ../../../sass/icon/fonts.scss */
.icon-unlocked:before {
  content: "\e994";
}

/* line 542, ../../../sass/icon/fonts.scss */
.icon-wrench:before {
  content: "\e995";
}

/* line 545, ../../../sass/icon/fonts.scss */
.icon-equalizer:before {
  content: "\e996";
}

/* line 548, ../../../sass/icon/fonts.scss */
.icon-equalizer2:before {
  content: "\e997";
}

/* line 551, ../../../sass/icon/fonts.scss */
.icon-cog:before {
  content: "\e998";
}

/* line 554, ../../../sass/icon/fonts.scss */
.icon-cogs:before {
  content: "\e999";
}

/* line 557, ../../../sass/icon/fonts.scss */
.icon-hammer:before {
  content: "\e99a";
}

/* line 560, ../../../sass/icon/fonts.scss */
.icon-magic-wand:before {
  content: "\e99b";
}

/* line 563, ../../../sass/icon/fonts.scss */
.icon-aid-kit:before {
  content: "\e99c";
}

/* line 566, ../../../sass/icon/fonts.scss */
.icon-bug:before {
  content: "\e99d";
}

/* line 569, ../../../sass/icon/fonts.scss */
.icon-pie-chart:before {
  content: "\e99e";
}

/* line 572, ../../../sass/icon/fonts.scss */
.icon-stats-dots:before {
  content: "\e99f";
}

/* line 575, ../../../sass/icon/fonts.scss */
.icon-stats-bars:before {
  content: "\e9a0";
}

/* line 578, ../../../sass/icon/fonts.scss */
.icon-stats-bars2:before {
  content: "\e9a1";
}

/* line 581, ../../../sass/icon/fonts.scss */
.icon-trophy:before {
  content: "\e9a2";
}

/* line 584, ../../../sass/icon/fonts.scss */
.icon-gift:before {
  content: "\e9a3";
}

/* line 587, ../../../sass/icon/fonts.scss */
.icon-glass:before {
  content: "\e9a4";
}

/* line 590, ../../../sass/icon/fonts.scss */
.icon-glass2:before {
  content: "\e9a5";
}

/* line 593, ../../../sass/icon/fonts.scss */
.icon-mug:before {
  content: "\e9a6";
}

/* line 596, ../../../sass/icon/fonts.scss */
.icon-spoon-knife:before {
  content: "\e9a7";
}

/* line 599, ../../../sass/icon/fonts.scss */
.icon-leaf:before {
  content: "\e9a8";
}

/* line 602, ../../../sass/icon/fonts.scss */
.icon-rocket:before {
  content: "\e9a9";
}

/* line 605, ../../../sass/icon/fonts.scss */
.icon-meter:before {
  content: "\e9aa";
}

/* line 608, ../../../sass/icon/fonts.scss */
.icon-meter2:before {
  content: "\e9ab";
}

/* line 611, ../../../sass/icon/fonts.scss */
.icon-hammer2:before {
  content: "\e9ac";
}

/* line 614, ../../../sass/icon/fonts.scss */
.icon-fire:before {
  content: "\e9ad";
}

/* line 617, ../../../sass/icon/fonts.scss */
.icon-lab:before {
  content: "\e9ae";
}

/* line 620, ../../../sass/icon/fonts.scss */
.icon-magnet:before {
  content: "\e9af";
}

/* line 623, ../../../sass/icon/fonts.scss */
.icon-bin:before {
  content: "\e9b0";
}

/* line 626, ../../../sass/icon/fonts.scss */
.icon-bin2:before {
  content: "\e9b1";
}

/* line 629, ../../../sass/icon/fonts.scss */
.icon-briefcase:before {
  content: "\e9b2";
}

/* line 632, ../../../sass/icon/fonts.scss */
.icon-airplane:before {
  content: "\e9b3";
}

/* line 635, ../../../sass/icon/fonts.scss */
.icon-truck:before {
  content: "\e9b4";
}

/* line 638, ../../../sass/icon/fonts.scss */
.icon-road:before {
  content: "\e9b5";
}

/* line 641, ../../../sass/icon/fonts.scss */
.icon-accessibility:before {
  content: "\e9b6";
}

/* line 644, ../../../sass/icon/fonts.scss */
.icon-target:before {
  content: "\e9b7";
}

/* line 647, ../../../sass/icon/fonts.scss */
.icon-shield:before {
  content: "\e9b8";
}

/* line 650, ../../../sass/icon/fonts.scss */
.icon-power:before {
  content: "\e9b9";
}

/* line 653, ../../../sass/icon/fonts.scss */
.icon-switch:before {
  content: "\e9ba";
}

/* line 656, ../../../sass/icon/fonts.scss */
.icon-power-cord:before {
  content: "\e9bb";
}

/* line 659, ../../../sass/icon/fonts.scss */
.icon-clipboard:before {
  content: "\e9bc";
}

/* line 662, ../../../sass/icon/fonts.scss */
.icon-list-numbered:before {
  content: "\e9bd";
}

/* line 665, ../../../sass/icon/fonts.scss */
.icon-list:before {
  content: "\e9be";
}

/* line 668, ../../../sass/icon/fonts.scss */
.icon-list2:before {
  content: "\e9bf";
}

/* line 671, ../../../sass/icon/fonts.scss */
.icon-tree:before {
  content: "\e9c0";
}

/* line 674, ../../../sass/icon/fonts.scss */
.icon-menu:before {
  content: "\e9c1";
}

/* line 677, ../../../sass/icon/fonts.scss */
.icon-menu2:before {
  content: "\e9c2";
}

/* line 680, ../../../sass/icon/fonts.scss */
.icon-menu3:before {
  content: "\e9c3";
}

/* line 683, ../../../sass/icon/fonts.scss */
.icon-menu4:before {
  content: "\e9c4";
}

/* line 686, ../../../sass/icon/fonts.scss */
.icon-cloud:before {
  content: "\e9c5";
}

/* line 689, ../../../sass/icon/fonts.scss */
.icon-cloud-download:before {
  content: "\e9c6";
}

/* line 692, ../../../sass/icon/fonts.scss */
.icon-cloud-upload:before {
  content: "\e9c7";
}

/* line 695, ../../../sass/icon/fonts.scss */
.icon-cloud-check:before {
  content: "\e9c8";
}

/* line 698, ../../../sass/icon/fonts.scss */
.icon-download2:before {
  content: "\e9c9";
}

/* line 701, ../../../sass/icon/fonts.scss */
.icon-upload2:before {
  content: "\e9ca";
}

/* line 704, ../../../sass/icon/fonts.scss */
.icon-download3:before {
  content: "\e9cb";
}

/* line 707, ../../../sass/icon/fonts.scss */
.icon-upload3:before {
  content: "\e9cc";
}

/* line 710, ../../../sass/icon/fonts.scss */
.icon-sphere:before {
  content: "\e9cd";
}

/* line 713, ../../../sass/icon/fonts.scss */
.icon-earth:before {
  content: "\e9ce";
}

/* line 716, ../../../sass/icon/fonts.scss */
.icon-link:before {
  content: "\e9cf";
}

/* line 719, ../../../sass/icon/fonts.scss */
.icon-flag:before {
  content: "\e9d0";
}

/* line 722, ../../../sass/icon/fonts.scss */
.icon-attachment:before {
  content: "\e9d1";
}

/* line 725, ../../../sass/icon/fonts.scss */
.icon-eye:before {
  content: "\e9d2";
}

/* line 728, ../../../sass/icon/fonts.scss */
.icon-eye-plus:before {
  content: "\e9d3";
}

/* line 731, ../../../sass/icon/fonts.scss */
.icon-eye-minus:before {
  content: "\e9d4";
}

/* line 734, ../../../sass/icon/fonts.scss */
.icon-eye-blocked:before {
  content: "\e9d5";
}

/* line 737, ../../../sass/icon/fonts.scss */
.icon-bookmark:before {
  content: "\e9d6";
}

/* line 740, ../../../sass/icon/fonts.scss */
.icon-bookmarks:before {
  content: "\e9d7";
}

/* line 743, ../../../sass/icon/fonts.scss */
.icon-sun:before {
  content: "\e9d8";
}

/* line 746, ../../../sass/icon/fonts.scss */
.icon-contrast:before {
  content: "\e9d9";
}

/* line 749, ../../../sass/icon/fonts.scss */
.icon-brightness-contrast:before {
  content: "\e9da";
}

/* line 752, ../../../sass/icon/fonts.scss */
.icon-star-empty:before {
  content: "\e9db";
}

/* line 755, ../../../sass/icon/fonts.scss */
.icon-star-half:before {
  content: "\e9dc";
}

/* line 758, ../../../sass/icon/fonts.scss */
.icon-star-full:before {
  content: "\e9dd";
}

/* line 761, ../../../sass/icon/fonts.scss */
.icon-heart:before {
  content: "\e9de";
}

/* line 764, ../../../sass/icon/fonts.scss */
.icon-heart-broken:before {
  content: "\e9df";
}

/* line 767, ../../../sass/icon/fonts.scss */
.icon-man:before {
  content: "\e9e0";
}

/* line 770, ../../../sass/icon/fonts.scss */
.icon-woman:before {
  content: "\e9e1";
}

/* line 773, ../../../sass/icon/fonts.scss */
.icon-man-woman:before {
  content: "\e9e2";
}

/* line 776, ../../../sass/icon/fonts.scss */
.icon-happy:before {
  content: "\e9e3";
}

/* line 779, ../../../sass/icon/fonts.scss */
.icon-happy2:before {
  content: "\e9e4";
}

/* line 782, ../../../sass/icon/fonts.scss */
.icon-smile:before {
  content: "\e9e5";
}

/* line 785, ../../../sass/icon/fonts.scss */
.icon-smile2:before {
  content: "\e9e6";
}

/* line 788, ../../../sass/icon/fonts.scss */
.icon-tongue:before {
  content: "\e9e7";
}

/* line 791, ../../../sass/icon/fonts.scss */
.icon-tongue2:before {
  content: "\e9e8";
}

/* line 794, ../../../sass/icon/fonts.scss */
.icon-sad:before {
  content: "\e9e9";
}

/* line 797, ../../../sass/icon/fonts.scss */
.icon-sad2:before {
  content: "\e9ea";
}

/* line 800, ../../../sass/icon/fonts.scss */
.icon-wink:before {
  content: "\e9eb";
}

/* line 803, ../../../sass/icon/fonts.scss */
.icon-wink2:before {
  content: "\e9ec";
}

/* line 806, ../../../sass/icon/fonts.scss */
.icon-grin:before {
  content: "\e9ed";
}

/* line 809, ../../../sass/icon/fonts.scss */
.icon-grin2:before {
  content: "\e9ee";
}

/* line 812, ../../../sass/icon/fonts.scss */
.icon-cool:before {
  content: "\e9ef";
}

/* line 815, ../../../sass/icon/fonts.scss */
.icon-cool2:before {
  content: "\e9f0";
}

/* line 818, ../../../sass/icon/fonts.scss */
.icon-angry:before {
  content: "\e9f1";
}

/* line 821, ../../../sass/icon/fonts.scss */
.icon-angry2:before {
  content: "\e9f2";
}

/* line 824, ../../../sass/icon/fonts.scss */
.icon-evil:before {
  content: "\e9f3";
}

/* line 827, ../../../sass/icon/fonts.scss */
.icon-evil2:before {
  content: "\e9f4";
}

/* line 830, ../../../sass/icon/fonts.scss */
.icon-shocked:before {
  content: "\e9f5";
}

/* line 833, ../../../sass/icon/fonts.scss */
.icon-shocked2:before {
  content: "\e9f6";
}

/* line 836, ../../../sass/icon/fonts.scss */
.icon-baffled:before {
  content: "\e9f7";
}

/* line 839, ../../../sass/icon/fonts.scss */
.icon-baffled2:before {
  content: "\e9f8";
}

/* line 842, ../../../sass/icon/fonts.scss */
.icon-confused:before {
  content: "\e9f9";
}

/* line 845, ../../../sass/icon/fonts.scss */
.icon-confused2:before {
  content: "\e9fa";
}

/* line 848, ../../../sass/icon/fonts.scss */
.icon-neutral:before {
  content: "\e9fb";
}

/* line 851, ../../../sass/icon/fonts.scss */
.icon-neutral2:before {
  content: "\e9fc";
}

/* line 854, ../../../sass/icon/fonts.scss */
.icon-hipster:before {
  content: "\e9fd";
}

/* line 857, ../../../sass/icon/fonts.scss */
.icon-hipster2:before {
  content: "\e9fe";
}

/* line 860, ../../../sass/icon/fonts.scss */
.icon-wondering:before {
  content: "\e9ff";
}

/* line 863, ../../../sass/icon/fonts.scss */
.icon-wondering2:before {
  content: "\ea00";
}

/* line 866, ../../../sass/icon/fonts.scss */
.icon-sleepy:before {
  content: "\ea01";
}

/* line 869, ../../../sass/icon/fonts.scss */
.icon-sleepy2:before {
  content: "\ea02";
}

/* line 872, ../../../sass/icon/fonts.scss */
.icon-frustrated:before {
  content: "\ea03";
}

/* line 875, ../../../sass/icon/fonts.scss */
.icon-frustrated2:before {
  content: "\ea04";
}

/* line 878, ../../../sass/icon/fonts.scss */
.icon-crying:before {
  content: "\ea05";
}

/* line 881, ../../../sass/icon/fonts.scss */
.icon-crying2:before {
  content: "\ea06";
}

/* line 884, ../../../sass/icon/fonts.scss */
.icon-point-up:before {
  content: "\ea07";
}

/* line 887, ../../../sass/icon/fonts.scss */
.icon-point-right:before {
  content: "\ea08";
}

/* line 890, ../../../sass/icon/fonts.scss */
.icon-point-down:before {
  content: "\ea09";
}

/* line 893, ../../../sass/icon/fonts.scss */
.icon-point-left:before {
  content: "\ea0a";
}

/* line 896, ../../../sass/icon/fonts.scss */
.icon-warning:before {
  content: "\ea0b";
}

/* line 899, ../../../sass/icon/fonts.scss */
.icon-notification:before {
  content: "\ea0c";
}

/* line 902, ../../../sass/icon/fonts.scss */
.icon-question:before {
  content: "\ea0d";
}

/* line 905, ../../../sass/icon/fonts.scss */
.icon-plus:before {
  content: "\ea0e";
}

/* line 908, ../../../sass/icon/fonts.scss */
.icon-minus:before {
  content: "\ea0f";
}

/* line 911, ../../../sass/icon/fonts.scss */
.icon-info:before {
  content: "\ea10";
}

/* line 914, ../../../sass/icon/fonts.scss */
.icon-cancel-circle:before {
  content: "\ea11";
}

/* line 917, ../../../sass/icon/fonts.scss */
.icon-blocked:before {
  content: "\ea12";
}

/* line 920, ../../../sass/icon/fonts.scss */
.icon-cross:before {
  content: "\ea13";
}

/* line 923, ../../../sass/icon/fonts.scss */
.icon-checkmark:before {
  content: "\ea14";
}

/* line 926, ../../../sass/icon/fonts.scss */
.icon-checkmark2:before {
  content: "\ea15";
}

/* line 929, ../../../sass/icon/fonts.scss */
.icon-spell-check:before {
  content: "\ea16";
}

/* line 932, ../../../sass/icon/fonts.scss */
.icon-enter:before {
  content: "\ea17";
}

/* line 935, ../../../sass/icon/fonts.scss */
.icon-exit:before {
  content: "\ea18";
}

/* line 938, ../../../sass/icon/fonts.scss */
.icon-play2:before {
  content: "\ea19";
}

/* line 941, ../../../sass/icon/fonts.scss */
.icon-pause:before {
  content: "\ea1a";
}

/* line 944, ../../../sass/icon/fonts.scss */
.icon-stop:before {
  content: "\ea1b";
}

/* line 947, ../../../sass/icon/fonts.scss */
.icon-previous:before {
  content: "\ea1c";
}

/* line 950, ../../../sass/icon/fonts.scss */
.icon-next:before {
  content: "\ea1d";
}

/* line 953, ../../../sass/icon/fonts.scss */
.icon-backward:before {
  content: "\ea1e";
}

/* line 956, ../../../sass/icon/fonts.scss */
.icon-forward2:before {
  content: "\ea1f";
}

/* line 959, ../../../sass/icon/fonts.scss */
.icon-play3:before {
  content: "\ea20";
}

/* line 962, ../../../sass/icon/fonts.scss */
.icon-pause2:before {
  content: "\ea21";
}

/* line 965, ../../../sass/icon/fonts.scss */
.icon-stop2:before {
  content: "\ea22";
}

/* line 968, ../../../sass/icon/fonts.scss */
.icon-backward2:before {
  content: "\ea23";
}

/* line 971, ../../../sass/icon/fonts.scss */
.icon-forward3:before {
  content: "\ea24";
}

/* line 974, ../../../sass/icon/fonts.scss */
.icon-first:before {
  content: "\ea25";
}

/* line 977, ../../../sass/icon/fonts.scss */
.icon-last:before {
  content: "\ea26";
}

/* line 980, ../../../sass/icon/fonts.scss */
.icon-previous2:before {
  content: "\ea27";
}

/* line 983, ../../../sass/icon/fonts.scss */
.icon-next2:before {
  content: "\ea28";
}

/* line 986, ../../../sass/icon/fonts.scss */
.icon-eject:before {
  content: "\ea29";
}

/* line 989, ../../../sass/icon/fonts.scss */
.icon-volume-high:before {
  content: "\ea2a";
}

/* line 992, ../../../sass/icon/fonts.scss */
.icon-volume-medium:before {
  content: "\ea2b";
}

/* line 995, ../../../sass/icon/fonts.scss */
.icon-volume-low:before {
  content: "\ea2c";
}

/* line 998, ../../../sass/icon/fonts.scss */
.icon-volume-mute:before {
  content: "\ea2d";
}

/* line 1001, ../../../sass/icon/fonts.scss */
.icon-volume-mute2:before {
  content: "\ea2e";
}

/* line 1004, ../../../sass/icon/fonts.scss */
.icon-volume-increase:before {
  content: "\ea2f";
}

/* line 1007, ../../../sass/icon/fonts.scss */
.icon-volume-decrease:before {
  content: "\ea30";
}

/* line 1010, ../../../sass/icon/fonts.scss */
.icon-loop:before {
  content: "\ea31";
}

/* line 1013, ../../../sass/icon/fonts.scss */
.icon-loop2:before {
  content: "\ea32";
}

/* line 1016, ../../../sass/icon/fonts.scss */
.icon-infinite:before {
  content: "\ea33";
}

/* line 1019, ../../../sass/icon/fonts.scss */
.icon-shuffle:before {
  content: "\ea34";
}

/* line 1022, ../../../sass/icon/fonts.scss */
.icon-arrow-up-left:before {
  content: "\ea35";
}

/* line 1025, ../../../sass/icon/fonts.scss */
.icon-arrow-up:before {
  content: "\ea36";
}

/* line 1028, ../../../sass/icon/fonts.scss */
.icon-arrow-up-right:before {
  content: "\ea37";
}

/* line 1031, ../../../sass/icon/fonts.scss */
.icon-arrow-right:before {
  content: "\ea38";
}

/* line 1034, ../../../sass/icon/fonts.scss */
.icon-arrow-down-right:before {
  content: "\ea39";
}

/* line 1037, ../../../sass/icon/fonts.scss */
.icon-arrow-down:before {
  content: "\ea3a";
}

/* line 1040, ../../../sass/icon/fonts.scss */
.icon-arrow-down-left:before {
  content: "\ea3b";
}

/* line 1043, ../../../sass/icon/fonts.scss */
.icon-arrow-left:before {
  content: "\ea3c";
}

/* line 1046, ../../../sass/icon/fonts.scss */
.icon-arrow-up-left2:before {
  content: "\ea3d";
}

/* line 1049, ../../../sass/icon/fonts.scss */
.icon-arrow-up2:before {
  content: "\ea3e";
}

/* line 1052, ../../../sass/icon/fonts.scss */
.icon-arrow-up-right2:before {
  content: "\ea3f";
}

/* line 1055, ../../../sass/icon/fonts.scss */
.icon-arrow-right2:before {
  content: "\ea40";
}

/* line 1058, ../../../sass/icon/fonts.scss */
.icon-arrow-down-right2:before {
  content: "\ea41";
}

/* line 1061, ../../../sass/icon/fonts.scss */
.icon-arrow-down2:before {
  content: "\ea42";
}

/* line 1064, ../../../sass/icon/fonts.scss */
.icon-arrow-down-left2:before {
  content: "\ea43";
}

/* line 1067, ../../../sass/icon/fonts.scss */
.icon-arrow-left2:before {
  content: "\ea44";
}

/* line 1070, ../../../sass/icon/fonts.scss */
.icon-circle-up:before {
  content: "\ea45";
}

/* line 1073, ../../../sass/icon/fonts.scss */
.icon-circle-right:before {
  content: "\ea46";
}

/* line 1076, ../../../sass/icon/fonts.scss */
.icon-circle-down:before {
  content: "\ea47";
}

/* line 1079, ../../../sass/icon/fonts.scss */
.icon-circle-left:before {
  content: "\ea48";
}

/* line 1082, ../../../sass/icon/fonts.scss */
.icon-tab:before {
  content: "\ea49";
}

/* line 1085, ../../../sass/icon/fonts.scss */
.icon-move-up:before {
  content: "\ea4a";
}

/* line 1088, ../../../sass/icon/fonts.scss */
.icon-move-down:before {
  content: "\ea4b";
}

/* line 1091, ../../../sass/icon/fonts.scss */
.icon-sort-alpha-asc:before {
  content: "\ea4c";
}

/* line 1094, ../../../sass/icon/fonts.scss */
.icon-sort-alpha-desc:before {
  content: "\ea4d";
}

/* line 1097, ../../../sass/icon/fonts.scss */
.icon-sort-numeric-asc:before {
  content: "\ea4e";
}

/* line 1100, ../../../sass/icon/fonts.scss */
.icon-sort-numberic-desc:before {
  content: "\ea4f";
}

/* line 1103, ../../../sass/icon/fonts.scss */
.icon-sort-amount-asc:before {
  content: "\ea50";
}

/* line 1106, ../../../sass/icon/fonts.scss */
.icon-sort-amount-desc:before {
  content: "\ea51";
}

/* line 1109, ../../../sass/icon/fonts.scss */
.icon-command:before {
  content: "\ea52";
}

/* line 1112, ../../../sass/icon/fonts.scss */
.icon-shift:before {
  content: "\ea53";
}

/* line 1115, ../../../sass/icon/fonts.scss */
.icon-ctrl:before {
  content: "\ea54";
}

/* line 1118, ../../../sass/icon/fonts.scss */
.icon-opt:before {
  content: "\ea55";
}

/* line 1121, ../../../sass/icon/fonts.scss */
.icon-checkbox-checked:before {
  content: "\ea56";
}

/* line 1124, ../../../sass/icon/fonts.scss */
.icon-checkbox-unchecked:before {
  content: "\ea57";
}

/* line 1127, ../../../sass/icon/fonts.scss */
.icon-radio-checked:before {
  content: "\ea58";
}

/* line 1130, ../../../sass/icon/fonts.scss */
.icon-radio-checked2:before {
  content: "\ea59";
}

/* line 1133, ../../../sass/icon/fonts.scss */
.icon-radio-unchecked:before {
  content: "\ea5a";
}

/* line 1136, ../../../sass/icon/fonts.scss */
.icon-crop:before {
  content: "\ea5b";
}

/* line 1139, ../../../sass/icon/fonts.scss */
.icon-make-group:before {
  content: "\ea5c";
}

/* line 1142, ../../../sass/icon/fonts.scss */
.icon-ungroup:before {
  content: "\ea5d";
}

/* line 1145, ../../../sass/icon/fonts.scss */
.icon-scissors:before {
  content: "\ea5e";
}

/* line 1148, ../../../sass/icon/fonts.scss */
.icon-filter:before {
  content: "\ea5f";
}

/* line 1151, ../../../sass/icon/fonts.scss */
.icon-font:before {
  content: "\ea60";
}

/* line 1154, ../../../sass/icon/fonts.scss */
.icon-ligature:before {
  content: "\ea61";
}

/* line 1157, ../../../sass/icon/fonts.scss */
.icon-ligature2:before {
  content: "\ea62";
}

/* line 1160, ../../../sass/icon/fonts.scss */
.icon-text-height:before {
  content: "\ea63";
}

/* line 1163, ../../../sass/icon/fonts.scss */
.icon-text-width:before {
  content: "\ea64";
}

/* line 1166, ../../../sass/icon/fonts.scss */
.icon-font-size:before {
  content: "\ea65";
}

/* line 1169, ../../../sass/icon/fonts.scss */
.icon-bold:before {
  content: "\ea66";
}

/* line 1172, ../../../sass/icon/fonts.scss */
.icon-underline:before {
  content: "\ea67";
}

/* line 1175, ../../../sass/icon/fonts.scss */
.icon-italic:before {
  content: "\ea68";
}

/* line 1178, ../../../sass/icon/fonts.scss */
.icon-strikethrough:before {
  content: "\ea69";
}

/* line 1181, ../../../sass/icon/fonts.scss */
.icon-omega:before {
  content: "\ea6a";
}

/* line 1184, ../../../sass/icon/fonts.scss */
.icon-sigma:before {
  content: "\ea6b";
}

/* line 1187, ../../../sass/icon/fonts.scss */
.icon-page-break:before {
  content: "\ea6c";
}

/* line 1190, ../../../sass/icon/fonts.scss */
.icon-superscript:before {
  content: "\ea6d";
}

/* line 1193, ../../../sass/icon/fonts.scss */
.icon-subscript:before {
  content: "\ea6e";
}

/* line 1196, ../../../sass/icon/fonts.scss */
.icon-superscript2:before {
  content: "\ea6f";
}

/* line 1199, ../../../sass/icon/fonts.scss */
.icon-subscript2:before {
  content: "\ea70";
}

/* line 1202, ../../../sass/icon/fonts.scss */
.icon-text-color:before {
  content: "\ea71";
}

/* line 1205, ../../../sass/icon/fonts.scss */
.icon-pagebreak:before {
  content: "\ea72";
}

/* line 1208, ../../../sass/icon/fonts.scss */
.icon-clear-formatting:before {
  content: "\ea73";
}

/* line 1211, ../../../sass/icon/fonts.scss */
.icon-table:before {
  content: "\ea74";
}

/* line 1214, ../../../sass/icon/fonts.scss */
.icon-table2:before {
  content: "\ea75";
}

/* line 1217, ../../../sass/icon/fonts.scss */
.icon-insert-template:before {
  content: "\ea76";
}

/* line 1220, ../../../sass/icon/fonts.scss */
.icon-pilcrow:before {
  content: "\ea77";
}

/* line 1223, ../../../sass/icon/fonts.scss */
.icon-ltr:before {
  content: "\ea78";
}

/* line 1226, ../../../sass/icon/fonts.scss */
.icon-rtl:before {
  content: "\ea79";
}

/* line 1229, ../../../sass/icon/fonts.scss */
.icon-section:before {
  content: "\ea7a";
}

/* line 1232, ../../../sass/icon/fonts.scss */
.icon-paragraph-left:before {
  content: "\ea7b";
}

/* line 1235, ../../../sass/icon/fonts.scss */
.icon-paragraph-center:before {
  content: "\ea7c";
}

/* line 1238, ../../../sass/icon/fonts.scss */
.icon-paragraph-right:before {
  content: "\ea7d";
}

/* line 1241, ../../../sass/icon/fonts.scss */
.icon-paragraph-justify:before {
  content: "\ea7e";
}

/* line 1244, ../../../sass/icon/fonts.scss */
.icon-indent-increase:before {
  content: "\ea7f";
}

/* line 1247, ../../../sass/icon/fonts.scss */
.icon-indent-decrease:before {
  content: "\ea80";
}

/* line 1250, ../../../sass/icon/fonts.scss */
.icon-share:before {
  content: "\ea81";
}

/* line 1253, ../../../sass/icon/fonts.scss */
.icon-new-tab:before {
  content: "\ea82";
}

/* line 1256, ../../../sass/icon/fonts.scss */
.icon-embed:before {
  content: "\ea83";
}

/* line 1259, ../../../sass/icon/fonts.scss */
.icon-embed2:before {
  content: "\ea84";
}

/* line 1262, ../../../sass/icon/fonts.scss */
.icon-terminal:before {
  content: "\ea85";
}

/* line 1265, ../../../sass/icon/fonts.scss */
.icon-share2:before {
  content: "\ea86";
}

/* line 1268, ../../../sass/icon/fonts.scss */
.icon-mail:before {
  content: "\ea87";
}

/* line 1271, ../../../sass/icon/fonts.scss */
.icon-mail2:before {
  content: "\ea88";
}

/* line 1274, ../../../sass/icon/fonts.scss */
.icon-mail3:before {
  content: "\ea89";
}

/* line 1277, ../../../sass/icon/fonts.scss */
.icon-mail4:before {
  content: "\ea8a";
}

/* line 1280, ../../../sass/icon/fonts.scss */
.icon-amazon:before {
  content: "\ea8b";
}

/* line 1283, ../../../sass/icon/fonts.scss */
.icon-google:before {
  content: "\ea8c";
}

/* line 1286, ../../../sass/icon/fonts.scss */
.icon-google2:before {
  content: "\ea8d";
}

/* line 1289, ../../../sass/icon/fonts.scss */
.icon-google3:before {
  content: "\ea8e";
}

/* line 1292, ../../../sass/icon/fonts.scss */
.icon-google-plus:before {
  content: "\ea8f";
}

/* line 1295, ../../../sass/icon/fonts.scss */
.icon-google-plus2:before {
  content: "\ea90";
}

/* line 1298, ../../../sass/icon/fonts.scss */
.icon-google-plus3:before {
  content: "\ea91";
}

/* line 1301, ../../../sass/icon/fonts.scss */
.icon-hangouts:before {
  content: "\ea92";
}

/* line 1304, ../../../sass/icon/fonts.scss */
.icon-google-drive:before {
  content: "\ea93";
}

/* line 1307, ../../../sass/icon/fonts.scss */
.icon-facebook:before {
  content: "\ea94";
}

/* line 1310, ../../../sass/icon/fonts.scss */
.icon-facebook2:before {
  content: "\ea95";
}

/* line 1313, ../../../sass/icon/fonts.scss */
.icon-instagram:before {
  content: "\ea96";
}

/* line 1316, ../../../sass/icon/fonts.scss */
.icon-whatsapp:before {
  content: "\ea97";
}

/* line 1319, ../../../sass/icon/fonts.scss */
.icon-spotify:before {
  content: "\ea98";
}

/* line 1322, ../../../sass/icon/fonts.scss */
.icon-telegram:before {
  content: "\ea99";
}

/* line 1325, ../../../sass/icon/fonts.scss */
.icon-twitter:before {
  content: "\ea9a";
}

/* line 1328, ../../../sass/icon/fonts.scss */
.icon-vine:before {
  content: "\ea9b";
}

/* line 1331, ../../../sass/icon/fonts.scss */
.icon-vk:before {
  content: "\ea9c";
}

/* line 1334, ../../../sass/icon/fonts.scss */
.icon-renren:before {
  content: "\ea9d";
}

/* line 1337, ../../../sass/icon/fonts.scss */
.icon-sina-weibo:before {
  content: "\ea9e";
}

/* line 1340, ../../../sass/icon/fonts.scss */
.icon-rss:before {
  content: "\ea9f";
}

/* line 1343, ../../../sass/icon/fonts.scss */
.icon-rss2:before {
  content: "\eaa0";
}

/* line 1346, ../../../sass/icon/fonts.scss */
.icon-youtube:before {
  content: "\eaa1";
}

/* line 1349, ../../../sass/icon/fonts.scss */
.icon-youtube2:before {
  content: "\eaa2";
}

/* line 1352, ../../../sass/icon/fonts.scss */
.icon-twitch:before {
  content: "\eaa3";
}

/* line 1355, ../../../sass/icon/fonts.scss */
.icon-vimeo:before {
  content: "\eaa4";
}

/* line 1358, ../../../sass/icon/fonts.scss */
.icon-vimeo2:before {
  content: "\eaa5";
}

/* line 1361, ../../../sass/icon/fonts.scss */
.icon-lanyrd:before {
  content: "\eaa6";
}

/* line 1364, ../../../sass/icon/fonts.scss */
.icon-flickr:before {
  content: "\eaa7";
}

/* line 1367, ../../../sass/icon/fonts.scss */
.icon-flickr2:before {
  content: "\eaa8";
}

/* line 1370, ../../../sass/icon/fonts.scss */
.icon-flickr3:before {
  content: "\eaa9";
}

/* line 1373, ../../../sass/icon/fonts.scss */
.icon-flickr4:before {
  content: "\eaaa";
}

/* line 1376, ../../../sass/icon/fonts.scss */
.icon-dribbble:before {
  content: "\eaab";
}

/* line 1379, ../../../sass/icon/fonts.scss */
.icon-behance:before {
  content: "\eaac";
}

/* line 1382, ../../../sass/icon/fonts.scss */
.icon-behance2:before {
  content: "\eaad";
}

/* line 1385, ../../../sass/icon/fonts.scss */
.icon-deviantart:before {
  content: "\eaae";
}

/* line 1388, ../../../sass/icon/fonts.scss */
.icon-500px:before {
  content: "\eaaf";
}

/* line 1391, ../../../sass/icon/fonts.scss */
.icon-steam:before {
  content: "\eab0";
}

/* line 1394, ../../../sass/icon/fonts.scss */
.icon-steam2:before {
  content: "\eab1";
}

/* line 1397, ../../../sass/icon/fonts.scss */
.icon-dropbox:before {
  content: "\eab2";
}

/* line 1400, ../../../sass/icon/fonts.scss */
.icon-onedrive:before {
  content: "\eab3";
}

/* line 1403, ../../../sass/icon/fonts.scss */
.icon-github:before {
  content: "\eab4";
}

/* line 1406, ../../../sass/icon/fonts.scss */
.icon-npm:before {
  content: "\eab5";
}

/* line 1409, ../../../sass/icon/fonts.scss */
.icon-basecamp:before {
  content: "\eab6";
}

/* line 1412, ../../../sass/icon/fonts.scss */
.icon-trello:before {
  content: "\eab7";
}

/* line 1415, ../../../sass/icon/fonts.scss */
.icon-wordpress:before {
  content: "\eab8";
}

/* line 1418, ../../../sass/icon/fonts.scss */
.icon-joomla:before {
  content: "\eab9";
}

/* line 1421, ../../../sass/icon/fonts.scss */
.icon-ello:before {
  content: "\eaba";
}

/* line 1424, ../../../sass/icon/fonts.scss */
.icon-blogger:before {
  content: "\eabb";
}

/* line 1427, ../../../sass/icon/fonts.scss */
.icon-blogger2:before {
  content: "\eabc";
}

/* line 1430, ../../../sass/icon/fonts.scss */
.icon-tumblr:before {
  content: "\eabd";
}

/* line 1433, ../../../sass/icon/fonts.scss */
.icon-tumblr2:before {
  content: "\eabe";
}

/* line 1436, ../../../sass/icon/fonts.scss */
.icon-yahoo:before {
  content: "\eabf";
}

/* line 1439, ../../../sass/icon/fonts.scss */
.icon-yahoo2:before {
  content: "\eac0";
}

/* line 1442, ../../../sass/icon/fonts.scss */
.icon-tux:before {
  content: "\eac1";
}

/* line 1445, ../../../sass/icon/fonts.scss */
.icon-appleinc:before {
  content: "\eac2";
}

/* line 1448, ../../../sass/icon/fonts.scss */
.icon-finder:before {
  content: "\eac3";
}

/* line 1451, ../../../sass/icon/fonts.scss */
.icon-android:before {
  content: "\eac4";
}

/* line 1454, ../../../sass/icon/fonts.scss */
.icon-windows:before {
  content: "\eac5";
}

/* line 1457, ../../../sass/icon/fonts.scss */
.icon-windows8:before {
  content: "\eac6";
}

/* line 1460, ../../../sass/icon/fonts.scss */
.icon-soundcloud:before {
  content: "\eac7";
}

/* line 1463, ../../../sass/icon/fonts.scss */
.icon-soundcloud2:before {
  content: "\eac8";
}

/* line 1466, ../../../sass/icon/fonts.scss */
.icon-skype:before {
  content: "\eac9";
}

/* line 1469, ../../../sass/icon/fonts.scss */
.icon-reddit:before {
  content: "\eaca";
}

/* line 1472, ../../../sass/icon/fonts.scss */
.icon-hackernews:before {
  content: "\eacb";
}

/* line 1475, ../../../sass/icon/fonts.scss */
.icon-wikipedia:before {
  content: "\eacc";
}

/* line 1478, ../../../sass/icon/fonts.scss */
.icon-linkedin:before {
  content: "\eacd";
}

/* line 1481, ../../../sass/icon/fonts.scss */
.icon-linkedin2:before {
  content: "\eace";
}

/* line 1484, ../../../sass/icon/fonts.scss */
.icon-lastfm:before {
  content: "\eacf";
}

/* line 1487, ../../../sass/icon/fonts.scss */
.icon-lastfm2:before {
  content: "\ead0";
}

/* line 1490, ../../../sass/icon/fonts.scss */
.icon-delicious:before {
  content: "\ead1";
}

/* line 1493, ../../../sass/icon/fonts.scss */
.icon-stumbleupon:before {
  content: "\ead2";
}

/* line 1496, ../../../sass/icon/fonts.scss */
.icon-stumbleupon2:before {
  content: "\ead3";
}

/* line 1499, ../../../sass/icon/fonts.scss */
.icon-stackoverflow:before {
  content: "\ead4";
}

/* line 1502, ../../../sass/icon/fonts.scss */
.icon-pinterest:before {
  content: "\ead5";
}

/* line 1505, ../../../sass/icon/fonts.scss */
.icon-pinterest2:before {
  content: "\ead6";
}

/* line 1508, ../../../sass/icon/fonts.scss */
.icon-xing:before {
  content: "\ead7";
}

/* line 1511, ../../../sass/icon/fonts.scss */
.icon-xing2:before {
  content: "\ead8";
}

/* line 1514, ../../../sass/icon/fonts.scss */
.icon-flattr:before {
  content: "\ead9";
}

/* line 1517, ../../../sass/icon/fonts.scss */
.icon-foursquare:before {
  content: "\eada";
}

/* line 1520, ../../../sass/icon/fonts.scss */
.icon-yelp:before {
  content: "\eadb";
}

/* line 1523, ../../../sass/icon/fonts.scss */
.icon-paypal:before {
  content: "\eadc";
}

/* line 1526, ../../../sass/icon/fonts.scss */
.icon-chrome:before {
  content: "\eadd";
}

/* line 1529, ../../../sass/icon/fonts.scss */
.icon-firefox:before {
  content: "\eade";
}

/* line 1532, ../../../sass/icon/fonts.scss */
.icon-IE:before {
  content: "\eadf";
}

/* line 1535, ../../../sass/icon/fonts.scss */
.icon-edge:before {
  content: "\eae0";
}

/* line 1538, ../../../sass/icon/fonts.scss */
.icon-safari:before {
  content: "\eae1";
}

/* line 1541, ../../../sass/icon/fonts.scss */
.icon-opera:before {
  content: "\eae2";
}

/* line 1544, ../../../sass/icon/fonts.scss */
.icon-file-pdf:before {
  content: "\eae3";
}

/* line 1547, ../../../sass/icon/fonts.scss */
.icon-file-openoffice:before {
  content: "\eae4";
}

/* line 1550, ../../../sass/icon/fonts.scss */
.icon-file-word:before {
  content: "\eae5";
}

/* line 1553, ../../../sass/icon/fonts.scss */
.icon-file-excel:before {
  content: "\eae6";
}

/* line 1556, ../../../sass/icon/fonts.scss */
.icon-libreoffice:before {
  content: "\eae7";
}

/* line 1559, ../../../sass/icon/fonts.scss */
.icon-html-five:before {
  content: "\eae8";
}

/* line 1562, ../../../sass/icon/fonts.scss */
.icon-html-five2:before {
  content: "\eae9";
}

/* line 1565, ../../../sass/icon/fonts.scss */
.icon-css3:before {
  content: "\eaea";
}

/* line 1568, ../../../sass/icon/fonts.scss */
.icon-git:before {
  content: "\eaeb";
}

/* line 1571, ../../../sass/icon/fonts.scss */
.icon-codepen:before {
  content: "\eaec";
}

/* line 1574, ../../../sass/icon/fonts.scss */
.icon-svg:before {
  content: "\eaed";
}

/* line 1577, ../../../sass/icon/fonts.scss */
.icon-IcoMoon:before {
  content: "\eaee";
}
