@import "mixins";
@import "../config/config";

$steps: 4;

@include step-width($steps);

.progresses {
	width: 100%;
	list-style: none none;
	margin: 20px 0;
	padding: 0;

	li {
		float: left;
		text-align: center;
		position: relative;

		.step {
			color: #ffffff;
			font-weight: 600;
			border: 3px solid #eaeaea;
			background-color: #eaeaea;
			border-radius: 50%;
			line-height: 1.2;
			width: 2rem;
			height: 2rem;
			display: inline-block;
			padding: 3 * $onePx 0;
			z-index: 0;
		}

		.step:before {
			content: "";
			display: block;
			background-color: #eaeaea;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			left: 0;
			z-index: -2;
		}

		.step:after {
			content: "";
			display: block;
			background-color: #eaeaea;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			right: 0;
			z-index: -2;
		}


		.name {
			display: block;
			vertical-align: bottom;
			text-align: center;
			color: black;
			font-size: 9 * $onePx;
			padding: 10 * $onePx;
		}
	}

	li.active {
		.name, .step span {
			opacity: 1;
			font-weight: 600;
		}

		.step {
			border: 3px solid #1663ba;
			background-color: #1663ba;
		}

		.name {
			color: #000;
		}


		.step:before {
			content: "";
			display: block;
			background-color: #1663ba;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			left: 0;
			z-index: -2;
		}

		.step:after {
			content: "";
			display: block;
			background-color: #eaeaea;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			right: 0;
			z-index: -2;
		}
	}

	li.done {
		.step {
			border: 3px solid #1663ba;
			background-color: #1663ba;
		}

		.name, .step span {
			opacity: 1;
		}

		.name {
			color: #000;
		}

		.step:before {
			content: "";
			display: block;
			background-color: #1663ba;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			left: 0;
			z-index: -2;
		}

		.step:after {
			content: "";
			display: block;
			background-color: #1663ba;
			height: 0.2rem;
			width: 50%;
			position: absolute;
			top: 1rem;
			right: 0;
			z-index: -2;
		}


	}

	li:first-of-type .step:before, li:last-of-type .step:after {
		display: none;
	}

}

